/* NAVBAR */

.navbar {
  font-family: Poppins;
}
.nav-link {
  color: gray;
  margin-right: 20px;
}
.nav-link:hover {
  color: black !important;
}
.navbar-brand {
  color: black;
  font-size: 32px !important;
  font-weight: bold;
  text-shadow: 0 13.36px 8.896px #eceae6, 0 -1px 0px #fff;
  opacity: 0.9;
}
.navbar-brand:hover {
  color: rgb(53, 51, 51);
}
