/* NAVBAR */

h1,
h2,
h3,
h4,
h5 {
  font-family: Poppins;
}
p {
  font-family: Roboto;
}

.navbar {
  font-family: Poppins;
  background: transparent!important;
}
.nav-link {
  color: gray;
  margin-right: 20px;
}
.nav-link:hover {
  color: black !important;
}
.navbar-brand {
  color: black;
  font-size: 32px !important;
  font-weight: bold;
  text-shadow: 0 13.36px 8.896px #eceae6, 0 -1px 0px #fff;
  opacity: 0.9;
  margin-left: 20px;
}
.navbar-brand:hover {
  color: rgb(53, 51, 51);
}
/* SHOWCASE */

#showcase {
  height: 100vh;
  
  background: url(/AirJordan/img/back5.png)
}
#showcase img {
  width: 800px;
  margin: 10px 90px 0px -100px;
 
}
.showcase-right {
  margin-top: 140px;
}
#showcase h1 {
  font-size: 50px;
  color: #fff;
}
#showcase p {
  
  color: #fff;
}

.btn {
  margin-top: 5px;
  color: white!important;
  background-color: rgb(53, 51, 51)!important;
  
 
}

.btn:hover {
  background-color:transparent!important;
  color: black!important;

}

#buy {
  background: red;
  padding: 40px;
  margin-top:-120px;
}
